.iconStyle{
    height: 10rem;
    width: auto;
    align-content: center;
}
.awesomeIcon {
    width: auto;
    align-content: center;
    font-size: 10rem;
    text-align: center;
}

.profileImage {
    height: 20rem;
    width: auto;
    clip-path: circle(60%);
}
   
/* Default height for small devices */
#intro-example {
height: 400px;
}
  
/* Height for devices larger than 992px */
@media (min-width: 992px) {
    #intro-example {
    height: 600px;
    }
}
